[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[*.java]
indent_style = space
indent_size = 4

[{messages.*, spring.schemas, spring.handlers, messages, *.properties}]
indent_style = space
indent_size = 4

[{*.gson, *.gradle, *.groovy, *.gdsl, *.gy, *.gant}]
indent_style = space
indent_size = 4

